# This is a basic workflow to help you get started with Actions

name: CI
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Push changes
      uses: actions-go/push@master
      with:
        commit-message: '[Auto] convert .raml to .html'
